# Apresentação Skytlearn

## Indice

- Modulos para aprendizado supervisionado e não supervisionado
- Criando virtual enviroments
- Tipos de aprendizado de maquina
- [Scikit-learn](#skitlearn)
    - Introdução Numpy
    - Array
        - Manipulação de Array
- [Pandas](#pandas)
    - Introdução Pandas
    - Series
    - Dataframe
        - Criando um dataframe
        - Lendo Arquivos com Dataframe
        - Manipulando Dataframes

___

# Modulos para aprendizado supervisionado e não supervisionado

Para mais detalhes sobre modulos vide [_Intro_Python](../_Intro_Python\Intro_Python.ipynb)

Por mais que a linguagem Python venha com uma série de recursos que otimizam bastante o tempo de desenvolvimento dos algoritmos, ela não é completa. Há uma série de cálculos, estruturas de dados e recursos para tratar com formatos de arquivos específicos que não está disponível nativamente na linguagem.

Para a analise da dados há modulos/bibliotecas do Python que são essenciais para otimizar o trabalho de analise e engenharia de dados.

Bibliotecas padrão para analise de dados

In [5]:
#importando as bibliotecas antes de começar a rodar o codigo

import pandas as pd
import numpy as np

Bibliotecas adicionais para visualização de dados

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import dash
import dash_core_components as dcc
import dash_html_components as html

Bibliotecas para apredizado supervisionado e não supervisionado

In [2]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

___

# Virtual enviroments 

Para mais detalhes sobre virtual enviroments vide  [_Intro_Python](../_Intro_Python\Intro_Python.ipynb)


Para trabalhar com dashboards interativas com python, seja com a biblioteca Dash ou Streamlit é uma boa pratica utilizar um ambiente virtual




https://realpython.com/python-virtual-environments-a-primer/

https://realpython.com/what-is-pip/

## Criando o virtual enviroment

Abra o terminal de comando diretamente no windows ou no VS code, pelo windows provavelmente será necessario ajustar o caminho do diretorio, pelo VS é so clicar direto no diretorio e abrir o terminal


> <span style="color:#0074D9"> Windows PowerShell </span>
> 
> <span style="color:#bfb526"> PS> </span> 
> C:\DiretorioEscolhido python -m venv venv

se der certo será criado uma pasta venv dentro do DiterorioEscolhido

## Ativando o virtual enviroment

Execute os comandos abaixo no terminal


> <span style="color:#0074D9"> Windows PowerShell </span>
> 
> <span style="color:#bfb526"> PS> </span> 
> C:\DiretorioEscolhido venv\Scripts\activate

se der certo será retorna

> <span style="color:#0074D9"> Windows PowerShell </span>
> 
> <span style="color:#bfb526"> (venv) PS> </span>
> C:\DiretorioEscolhido

## Instalando os modulos no virtual enviroment

1. Para gerar as dependencias

Caso se queira na verdade criar um arquivo requirements para compartilhar com outros usuarios utilize o comando abaixo

> <span style="color:#0074D9"> Windows PowerShell </span>
> 
> <span style="color:#bfb526"> (venv) PS> </span>
> C:\DiretorioEscolhido  python -m pip freze > requirements.txt

2. Para instalar as dependencias

Execute os comandos abaixo no terminal para instalar no virtual enviroment criado os requerimentos dos movulos e suas versões previamente criado


> <span style="color:#0074D9"> Windows PowerShell </span>
> 
> <span style="color:#bfb526"> (venv) PS> </span>
> C:\DiretorioEscolhido  <span style="color:#bfb526"> pip </span> install - r requirements.txt


___

# Tipos de aprendizado de maquina

O aprendizado de maquina pode ser supervisionado ou não supervisionado

- **Aprendizado supervisionado VS Não supervisionado**

O aprendizado supervisionado e não supervisionado possui uma diferença significativa. O aprendizado supervisionado utiliza conjuntos de dados rotulados, enquanto o não supervisionado emprega conjuntos de dados não rotulados. O termo “rotulado” significa que os dados já estão marcados com a resposta correta.


https://www.alteryx.com/pt-br/glossary/supervised-vs-unsupervised-learning#:~:text=O%20aprendizado%20supervisionado%20e%20n%C3%A3o,marcados%20com%20a%20resposta%20correta.

## Aprendizado supervisionado

No aprendizado supervisionado, a base de treinamento é fornecido ao algoritmo de Machine Learning contendo tanto as entradas quantos os rotulos (Labels) das saídas. Podemos dividir o aprendizados supervisionado em dois tipos:

- Regressão

Na regressão, a saída gerada pelo modelo é um valor contínuo. Com modelos de regressão, é possível fazer previsões de causa e efeito com base em múltiplos pontos de dados. Em uma empresa, por exemplo, isso pode incluir a projeção do crescimento da receita publicitária. Entre alguns algoritmos de regressão comuns estão a regressão de ridge, lasso, regressão de redes neurais e regressão logística.

- Classificação

Na classificação, a saída gerada pelo modelo é um valor pertencente a um conjunto discreto, podendo ser **categoria** ou **labels**. Um exemplo prático é um algoritmo que ajuda a eliminar spams na caixa de entrada prioritária de e-mails ou um algoritmo que ajuda usuários a bloquear ou restringir o acesso de outras pessoas nas redes sociais. Alguns algoritmos de classificação comuns incluem regressão logística, k-vizinhos mais próximos, floresta aleatória, Naive Bayes, gradiente descendente estocástico e árvores de decisão.


<div>
<img src="images\Apr_Sup.JPG" width="300"/>
</div>

## Aprendizado não-supervisionado

FALTA



___

# Scikit-learn

## Introdução Scikit-learn


o Skytlearn é uma biblioteca para machine learning para o Python com suporte para apredizado supervisionado e não supervisionado. Tem metodos para o preprocessamento de dados entre outras funcionalidade



<a id='skitlearn'></a>



https://scikit-learn.org/stable/getting_started.html

### Preprocessamento com o Skit-learn


#### Classe e metodos LabelEncoder (transformando dados categoricos ordinais ou nominais em numeros entre zero e um)


```python
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
```

- `preprocessing.LabelEncoder()` Armazena numeros entre 0 e n_classes-1 , sendo utilizado para armazerar dados categoricos de forma numerica no seu atributo <span style="color:#0074D9"> classes_ </span>  
<br>
- `le.fit([l])` armazena os valores unicos da lista l,criando assim as n_classes de dados categoricos (numericos ou não)
- `le.transform([l])` transforma uma lista l contendo  alguma das n_classes de dados categoricos (numericos ou não) num conjunto de numeros entre 0 e n_classes-1 e armazena os numeros no Label Encoder
- `le.fit_transform([l])` realiza a etapa de fit e transformação num unico metodo
- `le.classes_` retorna um array com as classes salvas no LabelEncoder le


https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder

Para dados categoricos não binario como por exemplo, manhã, tarde e noite , pode ser necessrio binarizar os mesmos criando por exemplo uma coluna manhã que pode assumir 0 ou 1 , para esses casos tem-se odis metodos do pandas abaixo que possibilitam realizar essa binarização

```python
import pandas as pd

```

- `pd.get_dummies(df,columns=['Collumns']))` retorna um dataframe com colunas novas para cada um dos valores possiveis das colunas Colluumns, serve para binarizar atributos categoricos

Para mais detalhes sobre pandas vide [_Numpy_e_Pandas](../_Numpy_e_Pandas/Numpy_e_Pandas.ipynb)

In [62]:
# Importando do Dataframe para demonstrar os metodos do preprocessing do sckitlearn
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')

In [63]:
#apenas verificando que a coluna sexo não tem valores nulos para podermos iniciar o proprocessamento da coluna sexo
df['Sex'].isna().value_counts()

Sex
False    891
Name: count, dtype: int64

In [64]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()  

# Salva todas as classes existentes no df['Sex']
le.fit(df['Sex'])

LabelEncoder()

In [65]:
le.classes_

array(['female', 'male'], dtype=object)

In [66]:
list(le.classes_)

['female', 'male']

In [67]:
#Cria uma variavel categorica Sex_le para substituir as categorias female e male e assim poder realizar o aprendizado de maquina com variaveis categoricas numericas

df['Sex_le'] = le.transform(df['Sex'])

Ao inves do skit-learn para criar uma variavel categorica numerica para o sexo, seria possivel realizar a mesma transformação com mais linhas de codigo sem o uso do skit-learn

```python
df.loc[df['Sex']=='male', 'Sex_le'] = 1
df.loc[df['Sex']=='female', 'Sex_le'] = 0

```

In [68]:

#remoção de campos desnecessarios

df.drop(columns=['PassengerId','Name','Sex', 'Ticket', 'Cabin'], inplace=True)
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Embarked  Sex_le
0         0       3  22.0      1      0   7.2500        S       1
1         1       1  38.0      1      0  71.2833        C       0
2         1       3  26.0      0      0   7.9250        S       0
3         1       1  35.0      1      0  53.1000        S       0
4         0       3  35.0      0      0   8.0500        S       1

In [69]:
#apenas verificando que a coluna embarque não tem valores nulos para podermos iniciar o proprocessamento da coluna embarque
df['Embarked'].isna().value_counts()

Embarked
False    889
True       2
Name: count, dtype: int64

In [70]:

#Binarizando o tipo de embarque, os valores que eram NAN serão definidos como Zero ou False apos a binarização

df=pd.get_dummies(df,columns=['Embarked'])

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Age         714 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Sex_le      891 non-null    int32
 7   Embarked_C  891 non-null    bool
 8   Embarked_Q  891 non-null    bool
 9   Embarked_S  891 non-null    bool
dtypes: bool(3), float64(2), int32(1), int64(4)
memory usage: 48.0 KB

In [72]:
#transformando embarked_Q, C e S em valores numericos, ao realisar o pd.get_dummies no colab não precisou dessa etapa


df['Embarked_Q']=df['Embarked_Q'].astype('int')
df['Embarked_S']=df['Embarked_S'].astype('int')
df['Embarked_C']=df['Embarked_C'].astype('int')

Tambem poderia ter sido transformado os valores boleano em numericos com a função loc

```python
df.loc[df['Embarked_Q']==True,'Embarked_Q']= 1
df.loc[df['Embarked_Q']==False,'Embarked_Q']=0
df.loc[df['Embarked_S']==True,'Embarked_S']=1
df.loc[df['Embarked_S']==False,'Embarked_S']=0
df.loc[df['Embarked_C']==True,'Embarked_C']=1
df.loc[df['Embarked_C']==False,'Embarked_C']=0
```

In [73]:
df

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_le,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,0,1
1,1,1,38.0,1,0,71.2833,0,1,0,0
2,1,3,26.0,0,0,7.9250,0,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,1,0,0,1
887,1,1,19.0,0,0,30.0000,0,0,0,1
888,0,3,NaN,1,2,23.4500,0,0,0,1
889,1,1,26.0,0,0,30.0000,1,1,0,0
890,0,3,32.0,0,0,7.7500,1,0,1,0

In [81]:
#verificando se as outras colunas que não foram trabalhadas tem valor NAN
df[['Survived','Pclass','Age','Parch','Fare']].isna().value_counts()

Survived  Pclass  Age    Parch  Fare
False     False   False  False  False    714
                  True   False  False    177
Name: count, dtype: int64

In [88]:
#Ajustando os NAN da idade como a mediana de acordo com o sexo e a Pclass, a retirada dos NAN tambem poderiam ter sido realizadas de diversas outras formas
#Male
df.loc[df.Age.isna() & (df.Pclass == 1) & (df.Sex_le == 'male'), 'Age'] = df[df.Pclass == 1 & (df.Sex_le == 'male')].Age.median()
df.loc[df.Age.isna() & (df.Pclass == 2) & (df.Sex_le== 'male'), 'Age'] = df[df.Pclass == 2 & (df.Sex_le == 'male')].Age.median()
df.loc[df.Age.isna() & (df.Pclass == 3) & (df.Sex_le == 'male'), 'Age'] = df[df.Pclass == 3 & (df.Sex_le == 'male')].Age.median()

#Female
df.loc[df.Age.isna() & (df.Pclass == 1) & (df.Sex_le == 'female'), 'Age'] = df[df.Pclass == 1 & (df.Sex_le == 'female')].Age.median()
df.loc[df.Age.isna() & (df.Pclass == 2) & (df.Sex_le== 'female'), 'Age'] = df[df.Pclass == 2 & (df.Sex_le == 'female')].Age.median()
df.loc[df.Age.isna() & (df.Pclass == 3) & (df.Sex_le == 'female'), 'Age'] = df[df.Pclass == 3 & (df.Sex_le == 'female')].Age.median()


#### Classe e metodos train_test_split (Separando os dados de treino e de teste)


```python
from sklearn.model_selection import train_test_split

```

- `X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=12))` Cria os Arrays ou dataframes de teste e treino a partir dos do array ou dataframe dos dados de entrada X e a partir do array ou dataframe dos labels Y, exemplo com tamanho de teste 0,3 , se não fosse colocado seria por default 0.25 e o random state é o seed do random


https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [89]:
#continuando com o df do titanic

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['Survived']),
                                                    df['Survived'],
                                                    test_size=0.3,
                                                    random_state=111)

In [90]:
pd.DataFrame(X_train)

,Pclass,Age,SibSp,Parch,Fare,Sex_le,Embarked_C,Embarked_Q,Embarked_S
195,1,58.0,0,0,146.5208,0,1,0,0
150,2,51.0,0,0,12.5250,1,0,0,1
572,1,36.0,0,0,26.3875,1,0,0,1
134,2,25.0,0,0,13.0000,1,0,0,1
96,1,71.0,0,0,34.6542,1,1,0,0
...,...,...,...,...,...,...,...,...,...
275,1,63.0,1,0,77.9583,0,0,0,1
86,3,16.0,1,3,34.3750,1,0,0,1
724,1,27.0,1,0,53.1000,1,0,0,1
876,3,20.0,0,0,9.8458,1,0,0,1
852,3,9.0,1,1,15.2458,0,1,0,0

In [91]:
pd.DataFrame(X_test)

,Pclass,Age,SibSp,Parch,Fare,Sex_le,Embarked_C,Embarked_Q,Embarked_S
374,3,3.0,3,1,21.0750,0,0,0,1
211,2,35.0,0,0,21.0000,0,0,0,1
258,1,35.0,0,0,512.3292,0,1,0,0
584,3,NaN,0,0,8.7125,1,1,0,0
461,3,34.0,0,0,8.0500,1,0,0,1
...,...,...,...,...,...,...,...,...,...
383,1,35.0,1,0,52.0000,0,0,0,1
719,3,33.0,0,0,7.7750,1,0,0,1
291,1,19.0,1,0,91.0792,0,1,0,0
432,2,42.0,1,0,26.0000,0,0,0,1
228,2,18.0,0,0,13.0000,1,0,0,1


#### Normalização dos dados

##### Classe e metodos StandardScaler

<div>
<img src="images\Standard_Scaler.png" width="700"/>
</div>


```python
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

```

- `LabelEncoder()` Armazena um array 2D para normalizar a escala de um dataframe ou array nos seus atributos <span style="color:#0074D9"> scale_ </span> e <span style="color:#0074D9"> mean_ </span>  , onde um armazena dados de variancia e media


- `scaler.fit(X)` armazena os dados de variancia e media do array ou dataframe X para posterior normalização
- `scaler.transform(X)` normaliza uma array ou dataframe X de acordo com a media e variancia do scaler
- `scalerfit_transform(X)` realiza a etapa de fit e transformação num unico metodo
- `scaler.scale_` retorna um array com os pesos para a normalização



https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [93]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train[['Age','Fare']])

StandardScaler()

In [94]:
scaler.mean_

array([29.78788538, 31.32216998])

In [95]:
scaler.scale_

array([14.76838696, 45.94440496])

In [96]:
#Use o método .transform () para transformar os parâmetros em uma versão padronizada.

X_train_scaled=scaler.transform(X_train[['Age','Fare']])
X_train[['Age_scaled','Fare_scaled']]=X_train_scaled

In [97]:
X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_le,Embarked_C,Embarked_Q,Embarked_S,Age_scaled,Fare_scaled
195,1,58.0,0,0,146.5208,0,1,0,0,1.910304,2.507348
150,2,51.0,0,0,12.5250,1,0,0,1,1.436319,-0.409129
572,1,36.0,0,0,26.3875,1,0,0,1,0.420636,-0.107405
134,2,25.0,0,0,13.0000,1,0,0,1,-0.324198,-0.398790
96,1,71.0,0,0,34.6542,1,1,0,0,2.790563,0.072523

In [98]:
scaler.inverse_transform(X_train_scaled)

array([[ 58.    , 146.5208],
       [ 51.    ,  12.525 ],
       [ 36.    ,  26.3875],
       ...,
       [ 27.    ,  53.1   ],
       [ 20.    ,   9.8458],
       [  9.    ,  15.2458]])

In [99]:
scaler = StandardScaler()
scaler.fit(X_test[['Age','Fare']])
X_test_scaled=scaler.transform(X_test[['Age','Fare']])
#X_test_scaled=pd.DataFrame(X_test_scaled,columns=['Age_scaled','Fare_scaled'])
X_test[['Age_scaled','Fare_scaled']]=X_test_scaled

In [187]:
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_le,Embarked_C,Embarked_Q,Embarked_S,Age_scaled,Fare_scaled
374,3,3.0,3,1,21.0750,0,0,0,1,-1.907782,-0.229856
211,2,35.0,0,0,21.0000,0,0,0,1,0.397418,-0.231164
258,1,35.0,0,0,512.3292,0,1,0,0,0.397418,8.337762
584,3,NaN,0,0,8.7125,1,1,0,0,NaN,-0.445462
461,3,34.0,0,0,8.0500,1,0,0,1,0.325381,-0.457016

In [100]:
scaler.inverse_transform(X_test_scaled)

array([[  3.    ,  21.075 ],
       [ 35.    ,  21.    ],
       [ 35.    , 512.3292],
       [     nan,   8.7125],
       [ 34.    ,   8.05  ],
       [ 40.    ,   0.    ],
       [  2.    ,  39.6875],
       [ 19.    ,  30.    ],
       [     nan,   6.8583],
       [ 33.    ,  26.    ],
       [ 18.    ,  11.5   ],
       [ 20.    ,   8.05  ],
       [  2.    ,  10.4625],
       [ 44.    ,  27.7208],
       [     nan,  56.4958],
       [ 32.    ,  30.5   ],
       [ 30.    ,  93.5   ],
       [ 20.    ,  15.7417],
       [ 31.    ,  13.    ],
       [ 36.    ,  26.    ],
       [ 15.    ,   8.0292],
       [ 45.5   ,  28.5   ],
       [     nan,   7.8958],
       [ 61.    ,   6.2375],
       [ 24.5   ,   8.05  ],
       [     nan,  56.4958],
       [ 48.    ,  13.    ],
       [ 34.    ,  10.5   ],
       [     nan,   7.75  ],
       [     nan,   7.2292],
       [     nan,  51.8625],
       [  5.    ,  31.3875],
       [ 21.    ,  10.5   ],
       [ 17.    ,   7.125 ],
       [ 32.    ,   8.3625],
       [ 36.    ,  78.85  ],
       [ 38.    ,  71.2833],
       [ 39.    ,   0.    ],
       [ 30.    ,  56.9292],
       [ 12.    ,  11.2417],
       [ 39.    ,   7.925 ],
       [ 25.    ,  13.    ],
       [  5.    ,  27.75  ],
       [ 58.    ,  29.7   ],
       [     nan,   7.75  ],
       [ 27.    ,  13.    ],
       [ 29.    ,  21.075 ],
       [ 29.    ,  30.    ],
       [ 49.    ,  76.7292],
       [ 35.    ,  26.2875],
       [ 42.    ,   8.6625],
       [     nan,  25.4667],
       [ 24.    ,  19.2583],
       [ 35.    ,   8.05  ],
       [     nan,   8.05  ],
       [ 26.    ,  20.575 ],
       [ 32.5   ,  30.0708],
       [ 29.    ,  27.7208],
       [     nan,   7.2292],
       [     nan,   7.6292],
       [  1.    ,  20.575 ],
       [     nan,  27.7208],
       [ 26.    ,  18.7875],
       [     nan,  16.1   ],
       [     nan,  15.5   ],
       [ 33.    ,  53.1   ],
       [     nan,   8.05  ],
       [ 44.    ,   7.925 ],
       [ 21.    ,   7.7333],
       [ 24.    ,   7.05  ],
       [ 58.    , 113.275 ],
       [ 45.    ,  26.55  ],
       [     nan,   7.25  ],
       [ 16.    ,  46.9   ],
       [ 20.    ,   7.925 ],
       [ 30.    ,  86.5   ],
       [     nan,  23.25  ],
       [     nan,  55.    ],
       [     nan,   7.2292],
       [ 55.    ,  30.5   ],
       [ 24.    ,  73.5   ],
       [     nan,  14.4583],
       [ 34.    ,   8.05  ],
       [ 42.    , 227.525 ],
       [  2.    ,  31.275 ],
       [ 23.    ,  13.    ],
       [     nan,   8.4583],
       [ 32.    ,   7.8542],
       [     nan,   8.1125],
       [     nan, 221.7792],
       [ 39.    ,  31.275 ],
       [ 18.    ,  73.5   ],
       [     nan,   8.05  ],
       [     nan,   7.8958],
       [ 25.    ,   7.775 ],
       [ 36.    ,  26.2875],
       [ 38.    , 153.4625],
       [ 21.    ,   7.8542],
       [ 36.    , 512.3292],
       [ 51.    ,  77.9583],
       [ 34.    ,  13.    ],
       [ 28.    ,  82.1708],
       [ 23.    ,  13.    ],
       [ 36.    ,  40.125 ],
       [ 32.    ,  13.    ],
       [ 52.    ,  79.65  ],
       [ 31.    ,  37.0042],
       [ 24.    ,   7.8958],
       [ 23.    ,  13.7917],
       [ 48.    ,  76.7292],
       [     nan,  39.6   ],
       [ 22.    ,   7.125 ],
       [ 24.    ,  10.5   ],
       [ 21.    ,  16.1   ],
       [  2.    ,  27.9   ],
       [ 21.    ,  11.5   ],
       [ 21.    ,   9.825 ],
       [ 27.    ,   7.7958],
       [     nan,   7.75  ],
       [ 11.    ,  46.9   ],
       [ 20.    ,   9.5   ],
       [ 24.    ,   7.4958],
       [ 18.    ,   7.775 ],
       [ 60.    ,  75.25  ],
       [ 30.    ,   7.2292],
       [ 54.    ,  26.    ],
       [ 36.    , 120.    ],
       [ 28.    ,  24.    ],
       [ 31.    , 164.8667],
       [ 36.    ,  71.    ],
       [ 24.    ,  24.15  ],
       [ 58.    ,  26.55  ],
       [ 17.    ,  57.    ],
       [     nan,   7.75  ],
       [ 18.    ,  17.8   ],
       [ 28.    ,  10.5   ],
       [ 28.    ,  13.    ],
       [     nan,   7.8958],
       [     nan,  33.    ],
       [ 55.5   ,   8.05  ],
       [ 50.    ,  10.5   ],
       [ 14.    ,  11.2417],
       [ 34.    ,  21.    ],
       [     nan,  23.45  ],
       [ 22.    ,   8.05  ],
       [     nan,   7.8958],
       [     nan,  69.55  ],
       [ 28.    ,   7.7958],
       [     nan,   7.75  ],
       [  1.    ,  39.    ],
       [ 25.    ,  91.0792],
       [     nan,  16.1   ],
       [ 40.    ,  31.    ],
       [ 36.    , 135.6333],
       [ 26.    ,   7.775 ],
       [ 38.    ,  13.    ],
       [ 24.    ,   8.05  ],
       [ 22.    ,   9.8375],
       [ 38.    ,   7.05  ],
       [  1.    ,  39.6875],
       [     nan,  35.    ],
       [  3.    ,  18.75  ],
       [ 36.    ,  27.75  ],
       [ 30.    ,   8.05  ],
       [     nan,   7.8958],
       [ 31.    ,  10.5   ],
       [ 25.    ,   0.    ],
       [     nan,   7.8292],
       [ 15.    ,   7.225 ],
       [ 25.    ,   7.225 ],
       [ 18.    ,   6.4958],
       [     nan,  69.55  ],
       [ 13.    ,   7.2292],
       [ 38.    , 227.525 ],
       [     nan,   7.8958],
       [ 22.    ,  29.    ],
       [ 22.    ,   7.7958],
       [  1.    ,  46.9   ],
       [ 20.    ,   7.8542],
       [ 45.    ,  27.9   ],
       [     nan,   7.8958],
       [ 51.    ,   7.75  ],
       [ 19.    ,  36.75  ],
       [     nan,   7.05  ],
       [ 45.    ,  26.25  ],
       [ 59.    ,   7.25  ],
       [ 32.    ,  15.5   ],
       [     nan,  15.5   ],
       [     nan,  69.55  ],
       [ 40.    ,  27.9   ],
       [ 30.    ,  21.    ],
       [ 46.    ,  26.    ],
       [     nan,  15.2458],
       [ 25.    ,   7.7417],
       [ 28.5   ,  16.1   ],
       [ 49.    ,  25.9292],
       [     nan,  30.5   ],
       [ 60.    ,  79.2   ],
       [ 42.    ,   7.55  ],
       [ 16.    ,  20.25  ],
       [ 24.    ,   9.5   ],
       [     nan,   7.8958],
       [ 31.    ,  50.4958],
       [ 30.    ,  24.15  ],
       [  5.    ,  12.475 ],
       [ 19.    ,   7.8958],
       [ 17.    ,   7.925 ],
       [ 50.    ,  55.9   ],
       [ 48.    ,  34.375 ],
       [     nan,  14.4542],
       [ 30.    ,  27.75  ],
       [ 40.    ,   7.8958],
       [ 65.    ,  26.55  ],
       [ 48.    ,  26.55  ],
       [     nan,   7.7333],
       [ 18.    ,   9.8417],
       [ 37.    ,   7.925 ],
       [  2.    ,  26.    ],
       [ 26.    ,   7.8542],
       [ 43.    ,   8.05  ],
       [ 39.    ,  55.9   ],
       [     nan,   7.75  ],
       [ 21.    ,  77.2875],
       [ 28.    ,   7.8542],
       [ 19.    ,  14.5   ],
       [ 31.    ,  20.525 ],
       [ 26.    ,   8.05  ],
       [ 24.    ,  83.1583],
       [ 35.    ,  83.475 ],
       [ 33.    ,  90.    ],
       [  6.    ,  31.275 ],
       [ 21.    ,  73.5   ],
       [ 60.    ,  26.55  ],
       [     nan,   8.05  ],
       [ 29.    ,  26.    ],
       [ 27.    ,   8.6625],
       [ 64.    , 263.    ],
       [  2.    ,  29.125 ],
       [ 28.    ,  33.    ],
       [     nan,  69.55  ],
       [     nan,  24.15  ],
       [     nan,  15.5   ],
       [ 43.    ,  26.25  ],
       [     nan,   8.6625],
       [ 36.    ,  13.    ],
       [     nan,   7.7375],
       [ 34.    ,  26.55  ],
       [ 18.    ,   7.8542],
       [ 28.    ,  35.5   ],
       [ 31.    ,  57.    ],
       [ 18.    , 262.375 ],
       [ 30.    , 106.425 ],
       [  8.    ,  26.25  ],
       [ 28.    ,   7.8958],
       [     nan,   0.    ],
       [     nan,  13.8625],
       [ 15.    ,  14.4542],
       [ 35.    ,   7.8958],
       [ 36.    ,   7.8958],
       [ 28.    ,  13.    ],
       [ 47.    ,  14.5   ],
       [  4.    ,  31.275 ],
       [ 19.    ,   7.8542],
       [ 35.    ,  52.    ],
       [ 33.    ,   7.775 ],
       [ 19.    ,  91.0792],
       [ 42.    ,  26.    ],
       [ 18.    ,  13.    ]])

### Classificação com o Skit-learn

#### k-NN (k-Vizinhos mais Próximos)

O k-NN constrói aproximações locais da função objetivo, diferentes para cada novo dado a ser classificado, considerando os K- vizinhos mais proximos


<div>
<img src="images\KNN.png" width="700"/>
</div>



```python
from sklearn.neighbors import KNeighborsClassifier
neighbors = KNeighborsClassifier(n_neighbors=k)

```


- `neighbors.fit(X_train,y_train)` executa o algoritmo no Knn para n_neigthbors=k , onde o X_train são os dados e o y_train são as labels
- `neighbors.predict(X_test)` retorna as labels do X_test baseado no modelo treinado com o comando fit
- `neighbors.predict_proba(X_test)` retorna as probabilidades dos labels do X_test baseado no modelo treinado com o comando fit




https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html